/* React app styles here, it will be packaged in to the final app bundle. */
// Variables
@primaryColor: #578DC9;

#tipoftheday-app {
  background: @primaryColor;
}

.uiIconNew::before {
  content: "\e905";
}

.main_cont1, .main_cont2 {
  border: 5px black;
  width:  99%;
}

.main_cont1 .tt_inp {
  height:        1.1rem;
  margin:        0.3%;
  border-radius: 5px;
  white-space: nowrap;
  overflow:    hidden;
  background:  white;
  position: relative;
}

//.main_cont1.tt_inp:before{
//  content:"";
//  display:block;
//  position:absolute;
//  height: 100%; width: 100%;
//  top: 0; left: 0;
//  background-image: linear-gradient(to right, rgba(255, 255, 255, 0), #fff 99%)
//}

//.main_cont1.tt_inp:after {
//  content: '';
//
//  pointer-events: none;
//
//  position: absolute;
//  right: 0; top: 0;
//  width:   80%;
//  height: 100%;
//
//  background: -moz-linear-gradient(left, rgba(255,204,0, 0.2), #fc0 100%);
//  background: -webkit-linear-gradient(left, rgba(255,204,0, 0.2), #fc0 100%);
//  background: -o-linear-gradient(left, rgba(255,204,0, 0.2), #fc0 100%);
//  background: -ms-linear-gradient(left, rgba(255,204,0, 0.2), #fc0 100%);
//  background: linear-gradient(to right, rgba(255,204,0, 0.2), #fc0 100%);
//}

.main_cont1 .oth_inp {
  height:        0.9rem;
  border-radius: 5px;
  white-space: nowrap;
  overflow:    hidden;
  background:  white;
  padding:     3px;
}

.main_cont1 button, .main_cont2 button {
  margin:        0.3%;
  border-radius: 5px;
  width:         5%;
  height:        1.5rem;
}

.main_cont2 #s_b {
  margin:        0.3%;
  border-radius: 5px;
  width:        10%;
  height:        1.5rem;
}

.main_cont2 .t_a {
  margin:        0.3%;
  border-radius: 5px;
  width:        77%;
  height:       50px;
  line-height:  40px;
}
