/* React app styles here, it will be packaged in to the final app bundle. */
// Variables
@primaryColor: #578DC9;

#tipoftheday-app {
  background: @primaryColor;
}

.uiIconNew::before {
  content: "\e905";
}

.main_cont1, .main_cont2 {
  border: 5px black;
  width:  99%;
}

.main_cont1 .tt_inp {
  width:        47%;
  height:        1.1rem;
  margin:        0.3%;
  border-radius: 5px;
  white-space: nowrap;
  overflow:    hidden;
  background:  white;
}

.main_cont1 .oth_inp {
  width:        12%;
  height:        0.9rem;
  margin:        0.3%;
  border-radius: 5px;
  white-space: nowrap;    /* Отменяем перенос текста */
  overflow:    hidden;    /* Обрезаем содержимое */
  background:  white;     /* Цвет фона */
  padding:     3px;       /* Поля */
}

.main_cont1 button, .main_cont2 button {
  margin:        0.3%;
  border-radius: 5px;
  width:         5%;
  height:        1.5rem;
}

.main_cont2 #s_b {
  margin:        0.3%;
  border-radius: 5px;
  width:        10%;
  height:        1.5rem;
}

.main_cont2 .t_a {
  margin:        0.3%;
  border-radius: 5px;
  width:        77%;
  height:       50px;
  line-height:  40px;
}
